# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.venv/
.vllm/
.docling/
env/
venv/
ENV/

# Jupyter Notebook
.ipynb_checkpoints

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Model
model/
DeepSeek-OCR-master/

# 长文本图片超过github限制，不上传，可以使用脚本生成
fox_data/story_images/

*.zip