# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
ENV/

# Jupyter Notebook
.ipynb_checkpoints

# Results and data files
results/
*.json
!requirements.json

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Model
.model/
*.ckpt

*.whl